<!doctype html>  
<html lang="en">
    <head>
        <title>Buy Your Values (in NYC)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="css/style.css?v=1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/values.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>Buy Your Values</h1>
                <h2>In NYC</h2>
                <div id="search-bar-outer">
                    <form id="search-bar">
                        <input type="text" size="70" id="search" name="search"/>
                        <input type="submit" id="do-search" value="Search"/>
                    </form>
                </div>
            </div>
            <div id="main">
                <div id="sidebar">
                    <h3>Browse by Category</h3>
                </div>
                <div id="content">
                </div>
            </div>
        </div>
    </body>
</html>
