<!doctype html>  
<html lang="en">
    <head>
        <title>Buy Your Values (in NYC)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="css/style.css?v=1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.1&sensor=false"></script>
        <script type="text/javascript" src="/js/maps.js"></script>
        <script type="text/javascript" src="/js/values.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="/js/table_visualization.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img src="/images/logo.png" alt="Buy Your Values"/>
                <div id="search-bar-outer">
                    <form id="search-bar">
                        <input type="text" size="70" id="search" name="search"/>
                        <input type="submit" id="do-search" value="Search"/>
                    </form>
                </div>
            </div>
            <div id="main">
                <div id="sidebar">
                    <h3>Browse by Category</h3>
                    <ul class="category_picker">
                        <li class="category-li">Food
                            <ul class="sub">
                                <li>Restaurants</li>
                                <li>Bakeries</li>
                                <li>Groceries</li>
                            </ul>
                        </li>
                        <li class="category-li">Entertainment
                            <ul class="sub">
                                <li>clubs</li>
                                <li>movie theaters</li>
                                <li>museums</li>
                            </ul>
                        </li>
                        <li class="category-li">Fashion
                            <ul  class="sub">
                                <li>Department Stores</li>
                                <li>Fashion Labels</li>
                                <li>Jewelry </li>
                            </ul>
                        </li>
                        <li class="category-li">Media
                        </li>
                        <li class="category-li">Professional Services
                            <ul class="sub">
                                <li>Banks</li>
                                <li>Law Firms</li>
                            </ul>
                        </li>
                        <li class="category-li">Non Profits
                            <ul  class="sub">
                                <li>Religious</li>
                                <li>Schools</li>
                                <li>Hospitals</li>
                            </ul>
                        </li>
                    </ul>
                    <a class="close_all" href="javascript:closeTree()">Close All</a>
                </div>
                <div id="content">
                    <div id="map">
                        <div id="map-canvas">
                            <img src="http://maps.google.com/maps/api/staticmap?center=New+York,NY&zoom=14&size=400x380&maptype=roadmap&markers=color:blue|label:S|40.702147,-74.015794&markers=color:green|label:G|40.711614,-74.012318&markers=color:red|color:red|label:C|40.718217,-73.998284&sensor=false" alt="Some map" />
                        </div>
                    </div>
                    <div id="chart">
                        <img id="chart-img" src="http://chart.apis.google.com/chart?cht=p&chs=300x160&chd=t:60,40&chl=Democrat|Republican&chf=bg,s,F0F0F000&chco=0000FF,FF0000" alt="Some chart" />
                    </div>
                    <div id="table">
                        <div id="table_div"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
