<!doctype html>  
<html lang="en">
    <head>
        <title>Buy Your Values (in NYC)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="css/style.css?v=1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/values.js"></script>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>
          google.load('visualization', '1', {packages:['table']});
          google.setOnLoadCallback(drawTable);
          function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Salary');
            data.addColumn('boolean', 'Full Time Employee');
            data.addRows(4);
            data.setCell(0, 0, 'Mike');
            data.setCell(0, 1, 10000, '$10,000');
            data.setCell(0, 2, true);
            data.setCell(1, 0, 'Jim');
            data.setCell(1, 1, 8000, '$8,000');
            data.setCell(1, 2, false);
            data.setCell(2, 0, 'Alice');
            data.setCell(2, 1, 12500, '$12,500');
            data.setCell(2, 2, true);
            data.setCell(3, 0, 'Bob');
            data.setCell(3, 1, 7000, '$7,000');
            data.setCell(3, 2, true);

            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, {showRowNumber: true});
          }
        </script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <img src="/images/logo.png" alt="Buy Your Values"/>
                <div id="search-bar-outer">
                    <form id="search-bar">
                        <input type="text" size="70" id="search" name="search"/>
                        <input type="submit" id="do-search" value="Search"/>
                    </form>
                </div>
            </div>
            <div id="main">
                <div id="sidebar">
                    <h3>Browse by Category</h3>
                    <ul>
                        <li id="food-li">Food</li>
                        <ul class="sub"  id="food-ul">
                            <li>Restaurants</li>
                            <li>Bakeries</li>
                            <li>Groceries</li>
                        </ul>
                        <li id="entertainment-li">Entertainment</li>
                        <ul class="sub" id="entertainment-ul">
                            <li>clubs</li>
                            <li>movie theaters</li>
                            <li>museums</li>
                        </ul>
                        <li id="fashion-li">Fashion</li>
                        <ul  class="sub" id="fashion-ul">
                            <li>Department Stores</li>
                            <li>Fashion Labels</li>
                            <li>Jewelry </li>
                        </ul>
                        <li id="media-li">Media</li>
                        <li id="professional-li">Professional Services</li>
                        <ul class="sub" id="professional-ul">
                            <li>Banks</li>
                            <li>Law Firms</li>
                        </ul>
                        <li id="non-profits">Non Profits</li>
                        <ul  class="sub" id="non-profits-ul">
                            <li>Religious</li>
                            <li>Schools</li>
                            <li>Hospitals</li>
                        </ul>
                    </ul>
                </div>
                <div id="content">
                    <div id="map">
                        <img src="http://maps.google.com/maps/api/staticmap?center=New+York,NY&zoom=14&size=400x380&maptype=roadmap&markers=color:blue|label:S|40.702147,-74.015794&markers=color:green|label:G|40.711614,-74.012318&markers=color:red|color:red|label:C|40.718217,-73.998284&sensor=false" alt="Some map" />
                    </div>
                    <div id="chart">
                        <img src="http://chart.apis.google.com/chart?cht=p&chs=300x160&chd=t:60,40&chl=Democrat|Republican&chf=bg,s,F0F0F000&chco=0000FF,FF0000" alt="Some chart" />
                    </div>
                    <div id="table">
                        <div id="table_div"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
