body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
    color: #444;
}

div#container {
    margin: 0 auto;
    width: 750px;
}

div#header {
    text-align: center;
}

div#search-bar-outer {
    margin: 0 auto 1.5em;
    text-align: center;
}

.category_picker{
  background-color: #f9f9f9;
  list-style-image: url("/images/plus.png");
}

ul li
{
    padding-left: 6px;
}

ul li ul,
ul li ul li
{
    padding-left: 0;
}

li.shown
{
  list-style-type:none;
    /*background-color: #cff;*/
}

li.shown li
{
    background-color: #f9f9f9;
}

li ul li
{
  list-style-type:none;
}

div,
h3
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*** Sidebar ***/
div#sidebar {
    width: 250px;
    float: left;
    position:relative;
    /*
    border: 1px solid black;
    */
    min-height: 600px;
    background-color: #fff;
    border-right:1px solid #eee;
}
    div#sidebar li
    {
        cursor: pointer;
    }

div#sidebar h3 {
    margin: 0em;
    padding: 10px 0;
    text-align: center;
    cursor: default;
}

/*** Content ***/
div#content {
    margin-left: 10px;
    width: 450px;
    float: left;
    min-height: 600px;
    /*
    border: 1px solid black;
    */
}

.sub {
    display: none;
    list-style-image:none;
    list-style-type:none;
}

div#sidebar a.close_all
{
    display:inline-block;
    right:15px;
    position:absolute;
    text-decoration:none;
    font-size:10px;
    text-transform:uppercase;
    color:#aaa;
}

div#map,
div#chart,
div#table
{
    background-color: #eee;
    shadow:2px 2px 2px #ddd;
    -moz-box-shadow:2px 2px 2px #ddd;
    -webkit-box-shadow:2px 2px 2px #ddd;
}

div#map,
div#chart,
div#table
{
    width: 430px;
    height: 200px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

div#chart
{
    padding-top: 20px;
    height: 180px;
}

div#map
{
    height: 400px;
    padding-top: 10px;
}

div#map-canvas
{
    border: #aaa 1px solid;
    height: 390px;
    margin: 0 10px;
}

#byv_tooltip{
  position:absolute;
  width:100px;
  height:75px;
  background-color:#eee;
  box-shadow:2px 2px 2px #cecece;
  -moz-boz-shadow:2px 2px 2px #cecece;
  -webkit-box-shadow:2px 2px 2px #cecece;
}

#tooltip_title{
  color:#666;
  font-weight:bold;
  font-size:14px;
  font-family:helvetica,arial,sans-serif;
}

#tooltip_contributions{
  list-style-type:none;
  padding:5px;
}

li.tooltip_item{
  font-size:12px;
  text-transform:uppercase;
  font-family:helvtica,arial,sans-serif;
  color:#666;
}

li.even{
  background-color:#cecece;
}

li.odd{
  background-color:#dfdfdf;
}
