body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
    color: #444;
}

div#container {
    margin: 0 auto;
    width: 750px;
}

div#header {
    text-align: center;
}

div#search-bar-outer {
    margin: 0 auto 1.5em;
    text-align: center;
}

div,
h3
{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*** Sidebar ***/
div#sidebar {
    width: 250px;
    float: left;
    /*
    border: 1px solid black;
    */
    min-height: 600px;
}

div#sidebar h3 {
    margin: 0em;
    padding: 10px 0;
    text-align: center;
    background-color: #dfdfd7;
    font-weight: normal;
}

/*** Content ***/
div#content {
    margin-left: 10px;
    width: 450px;
    float: left;
    min-height: 600px;
    /*
    border: 1px solid black;
    */
}

.sub {
    display: none;
}

div#sidebar,
div#map,
div#chart,
div#table
{
    background-color: #f9f9f9;
    shadow:1px 1px 1px #aaa;
    -webkit-box-shadow:1px 1px 1px #aaa;
    -moz-box-shadow:1px 1px 1px #aaa;
}

div#map,
div#chart,
div#table
{
    width: 430px;
    height: 200px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

div#chart
{
    padding-top: 20px;
    height: 180px;
}

div#map
{
    height: 400px;
}

div#map img
{
    border: #aaa 1px solid;
}
